<div class="col-xs-12 col-sm-4">
  <% if project.photo.attached? %>
    <% background_url = cl_image_path project.photo.key, width: 400, height: 500 %>
  <% else %>
    <% background_url = 'https://source.unsplash.com/500x400/?cocktail' %>
  <% end %>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
    <%= cl_image_tag article.photo.key %>
    <div class="card-category"><i class="fa fa-usd" aria-hidden="true"></i>
      <%= article.id %></div>
      <div class="card-description">
        <h2><%= article.title %></h2>
        <p><%= link_to "Read More", project_article_path[@project, @article] %></p>
      </div>
      <%= link_to project_path(project), class: "card-link" do %>
      <% end %>
  </div>
</div>
