<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Change your project details</h1>
      <div class="article-form">
        <%= simple_form_for [@project, @article] do |f| %>
          <%= f.input :title %>
          <%= f.input :description%>
          <%= f.input :photo, as: :file %>
          <%= f.button :submit, class: 'btn' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
