<div class="article-create">
  <div class="long-description-2">
    <h1 style="margin-right:60px;">Create a new article</h1>
    <div class="write-article-box" style>
      <%= simple_form_for [@project, @article] do |f| %>
        <%= f.input :title, label: "Title", :label_html => { :class => 'form' }, input_html: { class: "form-input" } %>
        <%= f.input :description, label: "Text content", :label_html => { :class => 'form' }%>
        <%= f.input :photo, as: :file, label: "Picture", :label_html => { :class => 'form' } %>
        <%= f.button :submit, class: 'btn-2' %>
      <% end %>
    </div>
  </div>
</div>

  <div>
    <% if policy(@project).update? %>
      <span class="create-article-1" style="width:58px; height:58px; position:fixed">     <%= link_to project_path(@project) do %>
        <%= image_tag "https://res.cloudinary.com/dnizmljvi/image/upload/v1582904861/arrow_mtgtu3.png"%>
        <% end %>
      </span>
    <% end %>
  </div>


<div class="article-create-2" style="vertical-align: top; text-align:left;">
</div>
