<div class="container">
<!-- image url has to change with the url of the profile pic -->
    <% if project.photo.attached? %>
      <% background_url = cl_image_path project.photo.key, width: 400, height: 500 %>
    <% else %>
      <% background_url = 'https://source.unsplash.com/500x400/?cocktail' %>
    <% end %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= background_url %>');">
      <div class="card-description" style="color: white" >
        <h2><%= project.name %></h2>
        <p><%= project.short_description %></p>
        <p><%= project.long_description %>€</p>
      </div>
      <%= link_to project_path(project), class: "card-link" do %>
      <% end %>
  </div>
</div>
