
<div class="containers">
<div class="filter-navbar" style="color: #F0F0F0; background: #F0F0F0; padding-left: 90px; margin-left: -20px;">
  <div class="row">
    <div class="col-sm-5 search-bar" style="justify-content: space-between; align-items: right; right:30px;">
      <form class="form-inline padded" style="padding-top: 15px; color: #F0F0F0; background: #F0F0F0;" >
        <%= form_tag projects_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query], class: "form-control",
          placeholder: "Find a project" %>
        <% end %>
      </form>
    </div>
    <div class="col-sm-4-navbar" style="color: black; font-weight: bold; align-items: right; margin-top: 23px;">
      <% Category.all.each do |category|  %>
        <%=  link_to category.name, projects_path(categories: [category.name]) %>
      <% end %>
        <%= link_to "Most Popular", projects_path(filter: 'popularity') %>
    </div>
  </div>
</div>

<div class="row row-no-padding">
  <% @projects.each do |project| %>
  <div class="col-sm-4">
      <div class="card card-plus" style="justify-content: center">
        <div class="square-box">
            <%= render 'card', project: project %>
        </div>
      </div>
    </div>
  <% end %>
        <span class="create-article" style="right:50px; bottom: 50px; z-index: 1; position:fixed;">     <%= link_to new_project_path do %>
      <%= image_tag "https://res.cloudinary.com/dnizmljvi/image/upload/v1582669193/Sans_titre-1_pusnx2.png"%>
      <% end %>
      </span>
</div></div>

<script>
  var computeSquareHeight = function() {
    var squares = document.getElementsByClassName("square-cover");
    var computedWidth = squares[0].offsetWidth;
    for (var item of squares) {
        item.style.height = computedWidth+"px";
    }
  }
  window.addEventListener("resize", computeSquareHeight);
  computeSquareHeight();

  const csrf_token = document.querySelector('meta[name=csrf-token]').content

  document.querySelectorAll('.like-button').forEach(item => {
    item.addEventListener('click', e => {
      const isActive = item.classList.value.includes('is-active')
      if (isActive) return
      fetch("/follower_projects", {
        method: 'post',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'X-CSRF-Token': csrf_token
        },
        body: JSON.stringify({ follower_project: { project_id: item.dataset.projectId }})
      })
      .then(response => response.json())
      .then((data) => {
        if (data.is_followed) item.classList.add('is-active')
      })
    })
  })
</script>



