<div class="filter-navbar" style="padding-left: 90px;">
  <div class="row">
    <div class="col-sm-4 search-bar" style="justify-content: space-between">
      <form class="form-inline padded">
        <%= form_tag projects_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query], class: "form-control",
          placeholder: "Find a project" %>
          <%= submit_tag "Search", class: "btn btn-danger" %>
        <% end %>
      </form>
    </div>

    <div class="col-sm-4">
      <% Category.all.each do |category|  %>
        <%=  link_to category.name, projects_path(categories: [category.name]) %>
      <% end %>
    </div>

    <div class="col-sm-4">
      <%= link_to "Filter by popularity", projects_path(filter: 'popularity') %>
    </div>
  </div>
</div>



<div class="row row-no-padding">
  <% policy_scope(@projects).each do |project| %>
  <div class="col-sm-4">
      <div class="card card-plus" style="justify-content: center">
        <div class="square-box">
            <%= render 'card', project: project %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  var computeSquareHeight = function() {
    var squares = document.getElementsByClassName("square-cover");
    var computedWidth = squares[0].offsetWidth;
    for (var item of squares) {
        item.style.height = computedWidth+"px";
    }
  }
  window.addEventListener("resize", computeSquareHeight);
  computeSquareHeight();
</script>
