<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Create a new project</h1>

      <%= simple_form_for @project do |f| %>
        <%= f.input :name %>
        <%= f.input :short_description %>
        <%= f.input :long_description %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
