<% background_url = cl_image_path @project.photo.key, width: 400, height: 800 %>

<div class="background-projects" style="height:100vh; background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= background_url %>');">
  <% if @project.user == current_user && @project.published == false  %>
    <div class="alert alert-warning" role="alert">This project is pending to be published!</div>
  <% elsif @project.user == current_user && @project.published == true%>
    <div class="alert alert-success" role="alert"> This project is published! </div>
  <% else %>
  <% end %>
  <div class="short-title-container" style="margin-top: 230px">
    <div> <%= @project.name %> </div>
    <div style="font-family:Avenir; font-size:21px; font-weight: lighter; padding-left:240px; padding-right:300px;"> <%= @project.short_description %> </div>
  </div>
<!--   <div>
    <%= render "shared/button_follow_project", project: @project %>
  </div> -->
  <div>
    <% if policy(@project).update? %>
      <span class="create-article" style="float:right; padding-right: 30px;">     <%= link_to new_project_article_path(@project) do %>
        <%= image_tag "https://res.cloudinary.com/dnizmljvi/image/upload/v1582730096/Articlenew_ffikjo.png"%>
        <% end %>
      </span>
    <% end %>
  </div>
  <div>
    <% if policy(@project).update? %>
      <span class="create-article" style="float:right; padding-right: 30px;">     <%= link_to new_project_article_path(@project) do %>
        <%= image_tag "https://res.cloudinary.com/dnizmljvi/image/upload/v1582731151/facebook_n0xokh.png"%>
        <% end %>
      </span>
    <% end %>
  </div>
</div>






<div class="row" style="padding-left:90px;">

  <div class="column left" style="padding-top: 65px;">
    <div class="circle" style="align-items: center; vertical-align: middle;">
      <div class="donation-section" style="padding-top: 100px;">
        <%= simple_form_for  @donation do |f| %>
        <%= f.input :doner_price, placeholder: "Make a donation"%>
        <%= f.input :project_id,  as: :hidden %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="column middle" style="padding-top: 125px;">
    <div class="long-description" style="padding-left:0px; padding-right:200px">
      <h1> - about this project </h1>
      <p style="margin-top:-30px; text-align:right;"> <%= @project.long_description %> </p>
    </div>
  </div>


  <div class="column right" style="padding-top: 100px;">
    <div class="long-description" style="padding-left:0px; padding-right:200px;">
      <h1 style="padding-top: 50px;"> - last updates </h1>
    <div class="article-card">
      <% @project.articles.each do |article| %>
      <%= render 'articles/card', article: article %>
      <% end %>
    </div>
     </div>
  </div>


<div>
  <% if policy(@project).update? %>
  <button type="button", class="btn btn-secondary">
    <%= link_to "Edit Project", edit_project_path(@project) %>
  </button>
  <% end %>
</div>

</div>
