<!-- app/views/articles/show.html.erb -->
<div> <%= @project.name %> </div>
<div> <%= @project.short_description %> </div>
<div> <%= @project.long_description %> </div>
<%= cl_image_tag @project.photo.key, width: 400, height: 300, crop: :fill %>


<div class="container test">

  <div class="page-header">
    <h1>Check Our Articles</h1>
  </div>

  <div class="row" style="justify-content: center">
    <div class="col-10">
      <div class="container test-2">
        <div class="row">
          <% @project.articles.each do |article| %>
            <%= render 'articles/card', article: article %>
          <% end %>
        </div>
    </div>
</div>

<div class="New-article">
    <%= link_to "Create A New Article", new_project_article_path(@project), class: "btn btn-danger btn-lg" %>
</div>
