<% background_url = cl_image_path @project.photo.key, width: 400, height: 800 %>

<div class="background-projects" style="background-size: cover; background-image: url('<%= background_url %>');">
  <% if @project.user_id == current_user.id && @project.published == false  %>
    <div class="alert alert-warning" role="alert">This project is pending to be published!</div>
  <% elsif @project.user_id == current_user.id && @project.published == true%>
    <div class="alert alert-success" role="alert"> This project is published! </div>
  <% else %>
  <% end %>
  <div> <%= @project.name %> </div>
  <div> <%= @project.short_description %> </div>
  <div>
    <% if policy(@project).update? %>
      <div class="create-article"> <%= link_to "+", new_project_article_path(@project) %> </div>
    <% end %>
  </div>


  <%= render "shared/button_follow_project", project: @project %>

  <div class= "col-2">
      <%= simple_form_for  @donation do |f| %>
      <%= f.input :doner_price %>
      <%= f.input :project_id,  as: :hidden %>
      <%= f.submit "Donate", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>


<div class="container test">
  <div class="long-description">
    <h1> ABOUT THIS PROJECT </h1>
      <p> <%= @project.long_description %> </p>
    <h1> LAST UPDATES </h1>
  <div class="article-card">
    <% @project.articles.each do |article| %>
    <%= render 'articles/card', article: article %>
    <% end %>
  </div>
  </div>
</div>
<div>
  <% if policy(@project).update? %>
    <button type="button", class="btn btn-secondary">
      <%= link_to "Edit Project", edit_project_path(@project) %>
    </button>
  <% end %>
</div>
