<!-- app/views/articles/show.html.erb -->
<% background_url = cl_image_path @project.photo.key, width: 400, height: 800 %>

<div class="square-cover" style="background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= background_url %>');">

  <div> <%= @project.name %> </div>
  <div> <%= @project.short_description %> </div>
  <div> <%= @project.long_description %> </div>

  <!-- integer field that is based on the form_for and customer input -->

  <div class= col-2>
      <%= simple_form_for  @donation do |f| %>
      <%= f.input :doner_price %>
      <%= f.input :project_id,  as: :hidden %>
      <%= f.submit "Donate", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>


<div class="container test">
  <div class="long-description">
    <h1> ABOUT THIS PROJECT </h1>
    <p> <br /><%= @project.long_description %> </p>
    <h1> LAST UPDATES </h1>
  <div class="article-card">
    <% @project.articles.each do |article| %>
    <%= render 'articles/card', article: article %>
    <% end %>
  </div>
  </div>
</div>
