<!-- app/views/articles/show.html.erb -->
<div> <%= @project.name %> </div>
<div> <%= @project.short_description %> </div>
<div> <%= @project.long_description %> </div>
<%= cl_image_tag @project.photo.key, width: 400, height: 300, crop: :fill %>


<div class="New-article">
    <%= link_to "Create A New Article", new_project_article_path(@project), class: "btn btn-danger btn-lg" %>
</div>
