<!-- app/views/articles/show.html.erb -->
<% background_url = cl_image_path @project.photo.key%>

<div class="background-projects" style="background-size: cover; background-image: url('<%= background_url %>');">
  <%= @project.name %>
  <p>Amount: <%= humanized_money_with_symbol(@project.price) %></p>
  <div class="create-article"> <%= link_to "+", new_project_article_path(@project) %> </div>
</div>

  <div>
    <%= form_tag donations_path do %>
      <%= hidden_field_tag 'project_id', @project.id %>
      <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>


<div class="container test">
  <div class="long-description">
    <h1> ABOUT THIS PROJECT </h1>
    <p> <br /><%= @project.long_description %> </p>
    <h1> LAST UPDATES </h1>
  <div class="article-card">
    <% @project.articles.each do |article| %>
    <%= render 'articles/card', article: article %>
    <% end %>
  </div>
  </div>
</div>
