
<% background_url = cl_image_path @project.photo.key, width:"100vw", height:"100vh" %>

<div class="project-page-picture" style="padding-left: 90px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= background_url %>');">
  <% if @project.user == current_user && @project.published == false  %>
    <div class="alert alert-warning" role="alert">This project is pending to be published!</div>
  <% elsif @project.user == current_user && @project.published == true%>
    <div class="alert alert-success" role="alert"> This project is published! </div>
  <% else %>
  <% end %>
  <div class="short-title-container" style="margin-top: 230px; margin-left: 100px; margin-right:120px;">
    <div> <%= @project.name %> </div>
    <div style="font-family:Avenir; font-size:20px; margin-bottom: 160px; padding-right: 100px: padding-left:100px;"> <%= @project.short_description %> </div>
  </div>
<!--   <div>
    <%= render "shared/button_follow_project", project: @project %>
  </div> -->
  <div class="donation_sum_progress">
    <label for="file">€<%= @donation_sum %> out of €<%= @project.price_cents%> raised</label>
    <progress id="file" value="<%= @donation_sum %>" max="<%= @project.price_cents %>"> 50% </progress>
  </div>
  <div>
    <% if policy(@project).update? %>
      <span class="create-article-3">      <%= link_to edit_project_path(@project) do %>
        <%= image_tag "https://res.cloudinary.com/dnizmljvi/image/upload/v1582802611/Sans_titre-1_kyhx7n.png"%>
    <% end %>
      </span>
    <% end %>
  </div>
  <div>
    <% if policy(@project).update? %>
      <span class="create-article-2">     <%= link_to new_project_article_path(@project) do %>
        <%= image_tag "https://res.cloudinary.com/dnizmljvi/image/upload/v1582730096/Articlenew_ffikjo.png"%>
        <% end %>
      </span>
    <% end %>
  </div>
  <!-- <div>
    <% if policy(@project).update? %>
    <span class="create-article-1">
      <a class="like-button <%= @project.followed_by?(current_user) ? 'is-active' : '' %>" data-project-id="<%= @project.id %>" style="">
          <i class="material-icons not-liked bouncy">favorite_border</i>
          <i class="material-icons is-liked bouncy">favorite</i>
        </a>
        </span>
    <% end %>
  </div> -->
</div>

<div class="project-page-picture-2" style="position: absolute; padding-left: 0px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= background_url %>');">
  <div class="background-square" style="width:100vw;">
    <div class="container" style="width:98vw; left:90;">

      <div id="st-box" style="vertical-align: middle; display: inline-block; padding-top: 0px;">
        <div class="project-box" style="padding-left:50px; padding-right:50px; margin-bottom:-40px;">
          <h1> - donate - </h1>
        </div>
        <div class="circle" style="align-items: center; vertical-align: middle; display: inline-block;">
          <div class="donation-section" style="padding-bottom:150px">
            <div style="margin-top: -155px;">
            <%= simple_form_for  @donation do |f| %>
            <%= f.input :doner_price, placeholder: "Make a donation"%>
            <%= f.input :project_id,  as: :hidden %>
            <% end %>
            </div>
          </div>
        </div>
      </div>

      <div id="nd-box" style="display: inline-block">
        <div class="project-box" style="vertical-align: middle; padding-left:50px; padding-right:50px">
          <h1> - about this project - </h1>
          <p style="vertical-align: middle; margin-top:0px; text-align:right;"> <%= @project.long_description %> </p>
        </div>
      </div>

      <div id="rd-box">
        <div class="project-box" style="padding-left:50px; padding-right:50px;">
          <h1> - last updates - </h1>
        <div class="article-card">
          <% @project.articles.each do |article| %>
          <%= render 'articles/card', article: article %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- <div>
    <% if policy(@project).update? %>
    <button type="button", class="btn btn-secondary">
      <%= link_to "Edit Project", edit_project_path(@project) %>
    </button>
    <% end %>
  </div>
 -->
